/* #gallery {} */

#gallery .container h2 {
    font-size: 50px;
    margin-bottom: 1.5rem;
    text-align: center;
}

#gallery .container .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
}

#gallery .container .gallery-container .gallery {
    position: relative;
    height: 25rem;
    overflow: hidden;
    transform: .4s;
}

#gallery .container .gallery-container .gallery:hover {
    border: 1px solid black;
}

#gallery .container .gallery-container .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery .container .gallery-container .gallery .content {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    padding-top: 4rem;
    transition: .4s;
}


#gallery .container .gallery-container .gallery:hover .content {
    transform: translateY(0px);
}

#gallery .container .gallery-container .gallery .content h3 {
    font-size: 23px;
    letter-spacing: 1.3px;
}

#gallery .container .gallery-container .gallery .content p {
    margin: 1rem 0;
}

#gallery .container .gallery-container .gallery .content button {
    margin-top: 1rem;
}