#footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

#footer .top-footer {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin: auto;
}

#footer .top-footer svg {
    margin-right: 10px;
}

#footer .top-footer span {
    font-size: 40px;
    font-weight: 900;
    margin: 1rem 0;
}

#footer .top-footer p {
    font-size: 25px;
    letter-spacing: 1.5px;
}

#footer .top-footer p a {
    text-decoration: none;
}

#footer .social-icons {
    display: flex;
    max-width: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#footer .social-icons svg {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: .4s;
}

#footer .social-icons svg:hover {
    color: var(--primary-color);
    transform: translateY(-4px);
}