:root {
    --primary-color: #4B2E2A;
    --secondary-color: #C49A6C;
    --background: #f5eee6;
    --accent: #6B8E23;
    --text: #2E2E2E;
}

#header nav {
    background-color: var(--accent);
    position: fixed;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

#header nav .logo {
    display: flex;
    align-items: center;
    font-size: 35px;
}

#header nav ul {
    display: flex;
    align-items: center;
}

#header nav ul li a {
    color: black;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

#header nav ul li a::before {
    content: '';
    width: 0%;
    height: 5px;
    background: red;
    position: absolute;
    border-radius: 10px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

#header nav ul li a:hover::before {
    width: 100%;
}


@media (max-width:900px) {
    
}

#header #home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/public/images/home-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

#header .content {
    /* text-align: center; */
    /* background-color: green; */
    width: 90%;

}

#header .content h1 {
    font-size: 60px;
    font-weight: 500;
}

#header .content p {
    margin: 1.5rem 0;
    font-size: 80px;
    letter-spacing: 1.4px;
    color: #fff !important;
    max-width: 60%;
    font-weight: 800;
}

#header .content button {
    padding: 20px 50px;
    cursor: pointer;
    background: transparent;
    transition: .4s;
    color: #ffff;
    border: 1px solid #ffff;
}

#header .content button:hover {
    transform: translateY(-11px);
}

/* ============================ */
/* ANIMATION  */
/* ============================ */

.fade-In {
    animation: fadeIn 1.1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(70px);
    }
}