#menu {
    background-color: var(--secondary-color);
}

#menu .container {}

#menu .container h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 3rem;
}

#menu .container .container-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
}

#menu .container .container-menu .box {
    padding: .7rem .4rem;
    text-align: center;
    transition: .5s;
}

#menu .container .container-menu .box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-10px);
}

#menu .container .container-menu .box img {
    width: 50%;
}

#menu .container .container-menu .box h3 {
    margin: .5rem;
    font-size: 25px;
    letter-spacing: 1.3px;
}

#menu .container .container-menu .box button {
    margin-top: .7rem;
}