#blogs .container h2{
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 800;
}

#blogs .container .carts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

#blogs .container .carts .cart {
    transition: .4s;
    text-align: center;
}

#blogs .container .carts .cart:hover {
    background-color: #aaa7a7;
}


#blogs .container .carts .cart .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}


#blogs .container .carts .cart .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

#blogs .container .carts .cart:hover .image img {
    transform: scale(.9);
}


#blogs .container .carts .cart h3 {
    font-size: 20px;
    margin-top: 10px;
}

#blogs .container .carts .cart p {
    margin: 20px 0;
    letter-spacing: 1.2px;
    font-size: 17px;
}

#blogs .container .carts .bottom-cart {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aaa7a7;
    padding: 25px 10px;
    /* transition: .4s; */
}

#blogs .container .carts .cart:hover .bottom-cart {
    border-top: 2px solid black;
}