#reviews {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviews .container h1 {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    max-width: fit-content;
    margin: auto;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
}

#reviews .clients-reviews {
    padding: 1rem 2rem;
    position: relative;
}

#reviews .clients-reviews .review {
    text-align: center;
    display: none;
}

#reviews .clients-reviews .review.show {
    display: block;
}

#reviews .clients-reviews .review img {
    border-radius: 50%;
    width: 150px;
}

#reviews .clients-reviews .review h3 {
    font-size: 25px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#reviews .clients-reviews .review p {
    letter-spacing: 1.3px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
}

#reviews .clients-reviews .buttons-controlle button {
    position: absolute;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    top: 50%;
    transform: translateY(-50%);
}

#reviews .clients-reviews .buttons-controlle button:first-child {
    left: 0;
}

#reviews .clients-reviews .buttons-controlle button:last-child {
    right: 0;
}