* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #4B2E2A;
	--secondary-color: #C49A6C;
	--background: #f5eee6;
	--accent: #6B8E23;
	--text: #2E2E2E;
}

html {
	scroll-behavior: smooth;
}

section {
	min-height: 100vh;
	padding-top: 4rem;
	padding-bottom: 4rem;
}


p {
	color: var(--text);
}

ul {
	list-style: none;

}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}


.btn-primary {
	background-color: #C49A6C;
	color: #4B2E2A;
}

.btn-primary:hover {
	background-color: #4B2E2A;
	color: #F5EFE6;
}

button.btn {
	padding: 15px 35px;
	cursor: pointer;
	transition: .4s;
	border: none;
}

button.btn:hover {
	transform: translateY(-11px);
}